GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=https://ais-dev-f5s2qswf56umglzk2rnvlq-652899134771.europe-west2.run.app
SHARED_APP_URL=https://ais-pre-f5s2qswf56umglzk2rnvlq-652899134771.europe-west2.run.app
